<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
  http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd">

  <context:annotation-config/>
<context:component-scan base-package="Com.Ciq.*"/>

<bean
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">

        <property name="location" value="db.properties">
        </property>
    </bean>

<bean id="springjdbc" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
<!-- <constructor-arg name="url" value="jdbc:mysql://localhost:3306/ciqdb"/> -->
<!-- <constructor-arg name="username" value="root"/> -->
<!-- <constructor-arg name="password" value="Root"/> -->

<property name="url" value="${url}"/>
<!-- open declaration of "DriverManagerDataSource" in this
public void setDriverClassName(String driverClassName) -->
<property name="driverClassName"  value="${driver}"/>
<property name="username" value="${username}"/>
<property name="password" value="${password}"/>

</bean>

<!-- <bean id="daoimpl" class="com.ciq.DAO.EmpDaoImpl"></bean> -->

<bean id="jdbctemp" class="org.springframework.jdbc.core.JdbcTemplate">
<property name="dataSource" ref="springjdbc"></property>

</bean>

</beans>